<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Flight List</title>
</head>
<body>
  <h1>Flight List</h1>
  <table>
    <tr>
      <th>Flight Number</th>
      <th>Departure City</th>
      <th>Arrival City</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th>Available Seats</th>
    </tr>
    <tr th:each="flight : ${flights}">
      <td th:text="${flight.flightNumber}"></td>
      <td th:text="${flight.departureCity}"></td>
      <td th:text="${flight.arrivalCity}"></td>
      <td th:text="${flight.departureDate}"></td>
      <td th:text="${flight.arrivalDate}"></td>
      <td th:text="${flight.availableSeats}"></td>
    </tr>
  </table>
</body>
</html>
